.change-password {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.heading_password {
  margin-bottom: 0rem;
  font-weight: 600;
  margin: auto;
}

.back-button {
  background: none;
  border: none;
  color: #2b9550;
  cursor: pointer;
}

.form-group {
  position: relative;
  margin: 30px 0;
}

.login__container-input {
  width: 100%;
  font-size: 16px;
  position: relative;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
  color: #000;
}

.form-group input:focus {
  border-bottom: 1px solid var(--primary);
}

.login__container-label-one {
  transition: all 0.4s linear;
  position: absolute;
  color: #ccc;
  top: 18.2%;
  left: 0.1%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.login__container-label-two {
  transition: all 0.4s linear;
  position: absolute;
  color: #ccc;
  top: 18.2%;
  left: 0.1%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.login__container-label-there {
  transition: all 0.4s linear;
  position: absolute;
  color: #ccc;
  top: 21%;
  left: 0%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.login__container-input:not(:-moz-placeholder-shown) + .login__container-label-one {
  transform: translateY(-20px);
  padding-right: 3.5px;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  font-size: 1.4rem;
  color: var(--primary);
}

.login__container-input:not(:placeholder-shown) + .login__container-label-one,
.login__container-input:focus + .login__container-label-one {
  transform: translateY(-20px);
  padding-right: 3.5px;
  transition: all 0.4s linear;
  font-size: 1.4rem;
  color: var(--primary);
}

.login__container-input:not(:-moz-placeholder-shown) + .login__container-label-two {
  transform: translateY(-20px);
  padding-right: 3.5px;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  font-size: 1.4rem;
  color: var(--primary);
}

.login__container-input:not(:placeholder-shown) + .login__container-label-two,
.login__container-input:focus + .login__container-label-two {
  transform: translateY(-20px);
  padding-right: 3.5px;
  transition: all 0.4s linear;
  font-size: 1.4rem;
  color: var(--primary);
}

.login__container-input:not(:-moz-placeholder-shown) + .login__container-label-there {
  transform: translateY(-20px);
  padding-right: 3.5px;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  font-size: 1.4rem;
  color: var(--primary);
}

.login__container-input:not(:placeholder-shown) + .login__container-label-there,
.login__container-input:focus + .login__container-label-there {
  transform: translateY(-20px);
  padding-right: 3.5px;
  transition: all 0.4s linear;
  font-size: 1.4rem;
  color: var(--primary);
}

.submit-button {
  padding: 2px 17px;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button {
  background-color: var(--primary);
  color: white;
  border: none;
  width: 200px;
  margin: 50px auto 0;
  display: block;
}
.submit-button:hover {
  background-color: #009d35;
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 182, 62, 0.3);
}
.submit-button:active {
  transform: translateY(0);
}

.error-message {
  color: red;
  font-size: 1.1rem;
  position: absolute;
  display: block;
}

.login__container-input.error {
  border-color: red;
}/*# sourceMappingURL=ChangePassword.module.css.map */