@charset "UTF-8";
.wrapper {
  height: 91vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.wrapper::-webkit-scrollbar {
  width: 8px;
}
.wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.wrapper::-webkit-scrollbar-thumb {
  background: #198c41;
  border-radius: 10px;
}
.wrapper::-webkit-scrollbar-thumb:hover {
  background: #00832d;
}

.content {
  padding: 0 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.heading_title {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-weight: 600;
}

.clear {
  font-size: 2rem;
  background-color: transparent;
}

.content_title {
  text-align: center;
  padding-top: 30px;
  font-size: 2rem;
  font-weight: 600;
}

.option_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: flex-start;
}

.option_item p {
  font-size: 1.7rem;
}

.item {
  display: flex;
  font-size: 1.8rem;
  gap: 12px;
  align-items: center;
  height: 27px;
}

.option_title {
  margin-bottom: -1px;
}

.item1 {
  display: flex;
  font-size: 1.8rem;
  gap: 12px;
  align-items: center;
}

.option_radio {
  width: 18px;
}

.item_more {
  text-align: right;
  margin-right: 55px;
  margin-top: 13px;
  font-size: 1.7rem;
  color: #beb3b3;
}

.list {
  position: relative;
  height: 57px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
  background-color: transparent;
  margin: 22px auto;
  border: 1px solid #ccc;
}

.list_inner {
  position: absolute;
  width: 100%;
  display: none;
  border-radius: 6px;
  top: 113%;
  left: 0;
  background-color: #ccc;
  z-index: 999;
}

.inner_spacer {
  display: flex;
  padding: 7px 11px;
}

.inner_title {
  font-size: 1.9rem;
  margin-left: 12px;
}

.inner_radio {
  width: 19px;
}

.list:hover .list_inner {
  display: block;
}

.btn {
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  margin: 20px 0;
  width: 100%;
  background-size: 200% auto;
  color: white;
  font-size: 1.7rem;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #198c41 0%, #34d773 51%, #00b63e 100%);
  box-shadow: 0px 0px 14px -7px #00b63e;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}

.image_preview {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.dien-tich-container {
  font-family: Arial, sans-serif;
  max-width: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.dien-tich-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.dien-tich-item {
  width: 48%;
  height: 50px;
  position: relative;
  display: flex;
}

.dien-tich-label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.dien-tich-input {
  width: 100%;
  padding: 4.5px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 40px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.dien-tich-input:focus {
  border-color: #00b63e;
  outline: none;
}

.form_title {
  font-size: 1.5rem;
  margin-bottom: 0rem;
  font-weight: 600;
}

.form_group {
  position: relative;
  margin: 9px 0;
}

.form_input {
  width: 100%;
  padding: 4.5px 10px;
  font-size: 1.7rem;
  border: none;
  border: 1px solid #ccc;
  outline: none;
  background: transparent;
  margin: 2px 0 2px 0;
  border-radius: 8px;
  height: 40px;
}

/* Khi có lỗi, input có border màu đỏ */
.form_input.error {
  border-color: red;
}

/* Khi input có lỗi, label cũng đổi màu đỏ */
.form_input.error ~ .form-intern-label {
  color: red;
}

.form_input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(0, 182, 62, 0.2);
}

.form_input.error:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
  border-color: red;
}

.form-intern-label {
  position: absolute;
  color: #757575;
  left: 12px;
  top: 52%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 1.5rem;
}

.form_input:not(:-moz-placeholder-shown) + .form-intern-label {
  top: 6%;
  font-size: 1.1rem;
  color: #00b63e;
  background: #fff;
  padding: 0px 5px;
}

.form_input:focus + .form-intern-label,
.form_input:not(:placeholder-shown) + .form-intern-label {
  top: 6%;
  font-size: 1.1rem;
  color: #00b63e;
  background: #fff;
  padding: 0px 5px;
}

.form_input:focus {
  border-color: #00b63e;
}

.title_map {
  font-size: 1.5rem;
  font-weight: 600;
}

.file-input-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.file-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.file-input-text {
  display: flex;
  padding: 3px 10px;
  font-size: 1.7rem;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  gap: 12px;
  color: #99a9c2;
  background: transparent;
}
.file-input-text:hover {
  border-color: #00b63e;
}

.error {
  border-color: #ff4d4f !important;
}

.error-message-map {
  color: #ff4d4f;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.error-message {
  color: #ff4d4f;
  font-size: 1.2rem;
  position: absolute;
  top: 90%;
  display: block;
  z-index: 999;
}

.error-message-price {
  color: #ff4d4f;
  font-size: 1.2rem;
  position: absolute;
  top: 76.4%;
  left: 2%;
  display: block;
}

.form_input-id {
  font-size: 1.4rem;
  display: none;
  color: #99a9c2;
  margin-top: 4px;
}

.form_input.error + .form-intern-label {
  color: red;
  background: #fff;
  transition: all 0.3s ease;
}

.idsv_input:focus + .form-intern-label + .form_input-id {
  display: block;
}

/*hiện hình đã chọn*/
.preview-container {
  display: flex;
  flex-wrap: wrap;
  /* Cho phép ảnh xuống dòng nếu quá nhiều */
  gap: 10px;
  /* Khoảng cách giữa các ảnh */
  margin-top: 10px;
}

.preview-item {
  position: relative;
  display: inline-block;
}

.preview-image {
  width: 100px;
  /* Giới hạn kích thước ảnh */
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  /* Cắt ảnh để vừa khung mà không bị méo */
  border-radius: 8px;
  /* Bo góc ảnh */
  border: 2px solid #ddd;
  /* Viền nhẹ */
  transition: transform 0.2s ease-in-out;
}

.preview-image:hover {
  /* Hiệu ứng phóng to khi hover */
  border-color: #007bff;
  /* Viền đổi màu khi hover */
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  color: red;
}

.dien-tich-input::-moz-placeholder {
  color: #ccc; /* Màu mặc định của placeholder */
}

.dien-tich-input::placeholder {
  color: #ccc; /* Màu mặc định của placeholder */
}
.dien-tich-input.error::-moz-placeholder {
  color: red; /* Màu đỏ khi có lỗi */
}
.dien-tich-input.error::placeholder {
  color: red; /* Màu đỏ khi có lỗi */
}

@media screen and (max-width: 480px) {
  .btn {
    margin: 20px auto 100px auto;
  }
  .wrapper {
    height: 91vh;
  }
  .content {
    padding: 0 40px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .heading_title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
  }
  .clear {
    font-size: 2rem;
    background-color: transparent;
  }
  .form_group p {
    margin-bottom: auto;
  }
  .content_title {
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
    font-weight: 600;
  }
  .form_input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 14px 12px;
    font-size: 1.7rem;
    border-radius: 8px;
    margin-top: 6px;
    height: 40px;
  }
  .option_item {
    display: grid;
    gap: 0px 1px;
    grid-template-columns: repeat(2, 1fr);
    place-items: flex-start;
    margin-top: 15px;
  }
  .option_item p {
    font-size: 1.5rem;
  }
  .item {
    display: flex;
    font-size: 1.8rem;
    gap: 12px;
  }
  .item1 {
    display: flex;
    font-size: 1.8rem;
    gap: 12px;
    align-items: center;
  }
  .option_radio {
    width: 18px;
  }
  .item_more {
    text-align: right;
    margin-right: 55px;
    margin-top: 13px;
    font-size: 1.7rem;
    color: #beb3b3;
  }
  .list {
    position: relative;
    height: 57px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    justify-content: space-between;
    position: relative;
    border-radius: 8px;
    background-color: transparent;
    margin: 22px auto;
    border: 1px solid #ccc;
  }
  .list_inner {
    position: absolute;
    width: 100%;
    display: none;
    border-radius: 6px;
    top: 113%;
    left: 0;
    background-color: #ccc;
    z-index: 999;
  }
  .inner_spacer {
    display: flex;
    padding: 7px 11px;
  }
  .inner_title {
    font-size: 1.9rem;
    margin-left: 12px;
  }
  .inner_radio {
    width: 19px;
  }
  .list:hover .list_inner {
    display: block;
  }
  .btn {
    padding: 10px 0px;
  }
  .image_preview {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
  }
  .dien-tich-container {
    font-family: Arial, sans-serif;
    max-width: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 90px;
  }
  .dien-tich-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dien-tich-container h2 {
    font-size: 15px;
    margin-bottom: 5px;
    color: #333;
  }
  .dien-tich-item {
    margin-bottom: 10px;
    position: relative;
    width: 48%;
    height: 50px;
    display: flex;
  }
  .dien-tich-label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  .dien-tich-input {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  .dien-tich-input:focus {
    border-color: #00b63e;
    outline: none;
  }
  .dien-tich-input::-moz-placeholder {
    color: #ccc; /* Màu mặc định của placeholder */
  }
  .dien-tich-input::placeholder {
    color: #ccc; /* Màu mặc định của placeholder */
  }
  .dien-tich-input.error::-moz-placeholder {
    color: red; /* Màu đỏ khi có lỗi */
  }
  .dien-tich-input.error::placeholder {
    color: red; /* Màu đỏ khi có lỗi */
  }
}/*# sourceMappingURL=Survey.module.css.map */